$color-head:#a89985;
$base-color:#6a6b65;
$custom-color:#cfc1ab;


@mixin p {
    color: $base-color!important;    
}
@mixin header{
    color: $color-head !important;
}
@mixin custom {
    color: $custom-color !important;
}

h1.custom{
    @include custom;
}

.text{
    .custom--description{
    @include p;
    }
    .text-header{
        @include header;
    }
}
.carousel {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
}
@media (max-width:1400px) {
    .gallary{
        img{
            width: 220px;
        }
    }
}
@media (max-width:1200px) {
    .gallary{
        display: flex;
        flex-wrap: wrap;
        img{
            height: 100px;
            width: 230px;
        }
    }
    .row-pic{
    
    margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .gallary{
        text-align: center;
    }
}