$color-head:#619bc5;
$base-color:#195DB7;
$secound-color:#2e5977;
$primary-color:#6d87ab;

@mixin secound {
    color: $secound-color !important;
}

@mixin p {
    color: $color-head !important;    
}
@mixin header{
    color: $base-color !important;
}

.text{
    .custom-head{
    @include p;
    }
    .custom-text{
        @include header;
    }
}
h1.text-head{
    @include secound ;
}


.text{
    margin-top: 60px;
    p.description {
        text-align: center;
        padding: 34px;
        font-size: 24px;
        color: $secound-color;
        font-weight: 500;
        
    }
    
}
.row{
    p.pragraphe{
    font-size: 2rem;
    text-align: center;
    color: $primary-color;
    }
    ul{
    list-style: arabic-indic;
    font-size: 23px;
    text-align: center;
    margin: 11px 10px;
    font-weight: 100;
    color: $color-head;

    li{
        margin-bottom: 10px;
    }
    }
}
.gallary{
    margin-bottom: 40px;
    margin-left: 10px;
    text-align: center;
    img{
        height: 215px;      
    }
    
}
@media(max-width:1200px) {
    .gallary{
        justify-content: center;
    }
}
@media(max-width:991px) {
    .gallary{
        img{
            width: 178px;
        }
    }
}